
/* custom */
.self-center {
  margin-left: auto;
  margin-right: auto;
}


/*center*/
.center-self {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-self.horizontal-slider {
  width: 80%;
}

.straight-slider {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}


/* vertical slider */

.vertical-slider {
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  width: 150px;
  float: right;
  margin-right: 20px;
}

/* schedule detail Slider*/
.slider {
  height: 40px;
}

.slider div{
  margin-top: 0px !important;
}

.smalllRaisedBnutton > div {
  min-width: 30px !important;
}

.vertical-slider .rc-slider-mark-text {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#react-view {
}

.chart-container .nv-chart {
  margin-bottom: -25px;
  margin-top: -20px;
  margin-left: -15px;
}

.nv-legendWrap.nvd3-svg {
  display: none;
}

/*.nv-point {
  stroke-opacity: 1 !important;
  stroke-width: 10px;
  fill-opacity: 1 !important;
}*/

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    stroke-width: 5px !important;
    fill-opacity: 1 !important;
    stroke-opacity: 1 !important;
}
