html, body, #react-view, div.background-splash {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /*backgroundImage: "url('public/assets/images/HMEsplash.png')"*/
}

html {
  background-size: cover;
  background-attachment: fixed;
}

body, #react-view {
  background-color: rgba(0,0,0,0);
  margin: 0px ;
}

body {
}

#react-view {
  /*min-height: 320px !important;*/
  /*.background-splash {*/

  height: 100% !important;
  min-height: 320px;
   /*background-image: url("../../../public/assets/images/HMEsplash.png");*/
/*}*/
}

/* custom */
.self-center {
  margin-left: auto;
  margin-right: auto;
}


/*center*/
.center-self {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-self.horizontal-slider {
  width: 80%;
}

.straight-slider {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* ========= scheduleDetail ===========*/

.chart-container text {
  fill: #FFF;
}

.chart-container path.domain {
  stroke: #FFF !important;
}

.rc-tooltip-inner, .rc-tooltip-inner>span {
  width: 100%;
}

.schedule-detail-pro {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
}


.nv-axisMaxMin.nv-axisMaxMin-x {
  /*display: none;*/

}

.justify-content {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
}

.bright-slider .vertical-rc-slider-mark-text {
  color: #FFF;
}

/*.tick > text {
  display: none;
}*/

/* timeSlider tickMarks layout */
.timeSlider span.rc-slider-mark-text {
  color: #FF4081;
}
/*.timeSlider span.rc-slider-mark-text:nth-child(even) {
  margin-top: -32px;
}*/

/*.timeSlider span.rc-slider-mark-text {
  display: none;
}*/

/*slider-handle highlight*/
.timeSlider .rc-slider-handle {
  border: solid 2px #FF4081;
}
.timeSlider .rc-slider-dot {
  display: none;
}
.vertical-slider .rc-slider-handle,
.bright-slider.vertical-rc-slider .vertical-rc-slider-handle {
  border: solid 2px #FF4081;
}

/* vertical slider */

.vertical-slider {
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  width: 150px;
  float: right;
  margin-right: 20px;
}

/* schedule detail Slider*/
.slider {
  margin-bottom: 8px;
}
.notActiveSlider {
  margin-bottom: 15px;
}

.notActiveSlider .rc-slider-handle{
  border: solid 2px #ccc;
}

.notActiveSlider .rc-slider-track {
  background-color: #DBE4E8;
}

/* ========= End scheduleDetail ===========*/


.smalllRaisedButton > div {
  min-width: 0px !important;
  /*border: 1px solid #DDD;*/
}
.smalllRaisedButton span {
  padding: 3px !important;
}
.vertical-slider .rc-slider-mark-text {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.chart-container .nv-chart {
  margin-bottom: -28px;
  margin-top: -20px;
  margin-left: -15px;
}

.nv-legendWrap.nvd3-svg {
  display: none;
}

/*.nv-point {
  stroke-opacity: 1 !important;
  stroke-width: 10px;
  fill-opacity: 1 !important;
}*/

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    stroke-width: 5px !important;
    fill-opacity: 1 !important;
    stroke-opacity: 1 !important;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point:first-child,
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point:last-child {
  fill-opacity: 0 !important;
  stroke-opacity: 0 !important;
}

.tabs-container>div:first-child {
  /*background-color: #032c70 !important;*/
  overflow-y: hidden;
  height: 30px;
}

.tab-content {
  width: 96%;
  overflow-x: hidden;
  min-height: 240px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 6px;
}

.tab-item {
  padding-top: 15px;
}

.background-splash {
   background-size: cover;
   background-attachment: fixed;
   height: 100% !important;
   min-height: 320px;
}

.tab-content hr {
  border-bottom: solid 1px #000 !important;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { display: none; }
input[type="time"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}

.btn-logout {
  background-color: #341c78;
  color: #fff8aa !important;
}

#logNotify {
  width: 15px;
  height: 15px;
  margin: 4px;
  content: url("/public/assets/images/warning.png");
}

/*style={{minHeight: '320px', backgroundImage: "url('public/assets/images/HMEsplash.png')"}} */
